@import '../../styles/shared';

.products {
  ul {
    padding-inline-start: 0;
  }
  li {
    display: flex;
    font-size: 16px;
    list-style-type: none;
  }

  .cover {
    height: 120px;
    width: 120px;
    background-color: #f0f0f0;
    color: #999;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: static;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    margin-left: 20px;
    padding-top: 5px;
  }

  .details {
    .quantity {
      margin-left: 10px;
    }
  }

  .ant-tag {
    margin-left: 10px;
  }
}

.product {
  .pq {
    display: flex;
    align-items: center;
  }
  .price {
    font-size: 20px;
  }
  .quantity {
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    margin-left: 10px;
  }
  .description {
    padding: 20px 0;
    white-space: pre-line;
  }
}
