@import './styles/shared';

html {
  box-sizing: border-box;
}

body {
  color: $textColor;
  font-family: Montserrat, Prompt, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  height: 100%;
}
