.home-container {
  display: flex;
  width: 100%;

  .ant-layout-content {
    padding: 20px;
  }

  .ant-card {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-card-head-title {
    font-weight: 600;
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-modal-title {
    font-weight: 600;
  }
}

.buttons {
  padding-top: 10px;
}

.btn-cancel {
  display: inline;
  margin-left: 15px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
