@import '../styles/shared';

.home-container {
  display: flex;
  width: 100%;

  .ant-layout-header {
    background-color: #fff;
    padding: 0 20px;
    display: flex;

    .anticon {
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s;
    }

    .left {
      display: flex;
      align-items: center;
    }
    .right {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .shop {
        flex-grow: 1;
        margin-left: 20px;
        .anticon {
          font-size: 28px;
          color: rgba(0, 0, 0, 0.35);
          &:hover {
            color: rgba(24, 144, 255, 0.7);
          }
        }
        span {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 600;
        }
      }
      .ant-select {
        width: 180px;
      }
      .ant-select-selection {
        border: 1px solid #f6f6f6;
      }
      .ant-select-selection-selected-value {
        color: #d0d0d0;
      }
      .ant-select-arrow {
        color: #f3f3f3;
      }
    }
  }

  .ant-layout-content {
    padding: 20px;
  }

  .ant-layout-footer {
    text-align: center;
    .love {
      color: black;
      font-size: 1.4rem;
    }
    a {
      color: #d68717;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .ant-card {
    color: rgba(0, 0, 0, 0.85);
  }

  .ant-card-head-title {
    font-weight: 600;
  }
}

.buttons {
  padding-top: 20px;
}

.btn-cancel {
  display: inline;
  margin-left: 15px;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
