@import '../styles/shared';

.home-container {
  display: flex;
  width: 100%;

  .ant-layout-content {
    padding: 20px;
  }

  .ant-card {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;

    .ant-card-head {
      color: rgba(0, 0, 0, 0.85);
      display: flex;
    }

    .title {
      display: flex;
      align-items: center;

      .actions {
        display: flex;
        align-items: center;
        margin-left: 20px;

        .ant-btn {
          margin-left: 5px;
        }
      }
    }

    .ant-card-body {
      ul {
        margin: 0;
      }
      ul.ant-pagination {
        margin-top: 20px;
      }
    }
  }

  .ant-card-head-title {
    font-weight: 500;
    padding: 10px 0;
  }

  .ant-descriptions-title {
    color: rgba(0, 0, 0, 0.8);
  }

  .ant-descriptions-item-label {
    width: 15%;
  }

  .ant-form-item:last-child {
    margin-bottom: 0;
  }

  .ant-modal-title {
    font-weight: 500;
  }

  .buttons {
    padding-top: 10px;
  }

  .btn-cancel {
    display: inline;
    margin-left: 15px;
  }

  .link {
    color: $linkColor;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.price {
  color: #f57224;
}

.dialog-confirm-deleting {
  .row {
    margin-top: 10px;
  }
  .ant-input {
    width: 250px;
  }
}
