.login-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;

  .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }

  h1,
  h2 {
    color: rgba(0, 0, 0, 0.8);
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 50px;
  }

  .ant-alert {
    font-size: 1rem;
  }

  .button {
    margin-left: 10px;
  }

  .form {
    display: flex;
  }

  .input {
    width: 280px;
  }

  .message {
    margin-top: 30px;
  }
}
