html {
  box-sizing: border-box;
  background-color: #f0f2f5;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Montserrat', 'Prompt', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

#root {
  display: flex;
  height: 100%;
}
