.container main ul.category-list {
  margin-top: 15px;
  padding: 0;

  h1 {
    margin-bottom: 0.25em;
  }

  li {
    list-style-type: none;
    margin: 0 10px;
    padding: 5px 0;

    .anticon {
      margin-right: 5px;
    }
  }
}
