.container header {
  background-color: #fff;
  display: flex;
  align-items: center;
  min-height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

  .back {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 14px;
    color: #1890ff;
    cursor: pointer;

    .anticon {
      font-size: 1.3em;
    }
  }

  .cart-icon {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 25px;
    cursor: pointer;
    user-select: none;

    .anticon {
      color: rgba(0, 0, 0, 0.7);
      font-size: 26px;
    }
  }
}
