@import '../styles/shared';

.container header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: $headerHeight;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

  .back {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 14px;
    color: #1890ff;
    cursor: pointer;

    .anticon {
      font-size: 1.3em;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;

    .ant-badge {
      z-index: 10;
    }

    .anticon {
      color: #1890ff;
    }

    .btn {
      border-left: 1px solid #f0f0f0;
      height: $headerHeight;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
