.input-number {
  display: flex;
  align-items: center;
  user-select: none;

  button {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    height: 30px;
    outline: none;
    padding: 0 10px;
    cursor: pointer;

    &:disabled {
      color: #e0e0e0;
    }
  }

  input {
    height: 30px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-left: none;
    border-right: none;
    outline: none;
  }
}
