@import '../styles/shared';

.cart {
  h1 {
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
  }

  ul {
    padding-inline-start: 0;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    display: flex;
  }

  .cover {
    height: 120px;
    width: 120px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
  }

  .img {
    background-color: #f0f0f0;
    color: #999;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: static;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .name {
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  .qty {
    display: flex;
    align-items: center;
    .price {
      color: $textColor;
    }
  }

  .x {
    margin: 0 5px;
  }

  .input {
    margin-left: 10px;
  }

  .amount {
    font-size: 18px;
  }
}

footer .total-amount {
  display: flex;
  margin-right: 10px;

  .price {
    font-size: 24px;
    padding-left: 10px;
  }
}
