.cart {
  h1 {
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0;
  }

  ul {
    padding-inline-start: 0;
  }

  li {
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 0;
    display: flex;
  }

  .cover {
    height: 120px;
    width: 120px;
    background-color: #f0f0f0;
    background-position: center center;
    background-size: cover;
  }

  .details {
    padding-left: 10px;
    padding-top: 10px;
  }

  .name {
    line-height: 1.2em;
  }

  .wrapper {
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    align-items: center;

    .price {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .x {
    margin: 0 5px;
  }

  .input {
    margin-left: 10px;
  }

  .amount {
    font-size: 18px;
  }
}

footer .total-amount {
  display: flex;
  margin-right: 10px;

  .price {
    font-size: 24px;
    padding-left: 10px;
  }
}
