@import '../styles/shared';

.container {
  width: 100%;

  main {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: $headerHeight;

    .content {
      position: fixed;
      top: $headerHeight;
      left: 0;
      width: 100%;
      overflow-y: scroll;
      margin: 0;
      padding: 10px;
    }

    h1 {
      border-bottom: 1px solid #f0f0f0;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
    }

    h2 {
      border-bottom: 1px dashed #f0f0f0;
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
    }
  }

  .price {
    color: #f57224;
  }
}

.mt60 {
  margin-top: 60px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}
