@import '../styles/shared';

.container {
  width: 100%;

  main {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: $headerHeight;

    h1 {
      border-bottom: 1px solid #f0f0f0;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.2em;
    }
  }
}

.mt60 {
  margin-top: 60px;
}
