.product {
  .ant-carousel .slick-slide {
    text-align: center;
    height: 300px;
    line-height: 300px;
    overflow: hidden;
  }

  .img {
    background-color: #f0f0f0;
    color: #999;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: static;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    margin-top: 10px;
  }

  .wrapper {
    display: flex;
    align-content: center;
  }

  .price {
    font-size: 24px;
  }

  .quantity {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    margin-left: 10px;
  }

  .name {
    margin-top: 10px;
  }

  .description {
    font-size: 14px;
    margin: 20px 0 10px 0;
    white-space: pre-line;
  }
}
