.product-list {
  ul {
    padding: 0;
    padding-inline-start: 0;

    display: flex;
    flex-flow: row wrap;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 5px 7px;
    cursor: pointer;
    border: 1px solid #f0f0f0;

    display: flex;
    flex-direction: column;

    .anticon {
      margin-right: 5px;
    }
  }

  .cover {
    display: flex;
    justify-content: center;
  }

  .img {
    background-color: #f0f0f0;
    background-position: center center;
    background-size: cover;
  }

  .details {
    font-size: 14px;
    margin-top: 10px;
  }

  .name {
    line-height: 1.2em;
  }

  .price {
    font-size: 16px;
    margin-top: 5px;
  }
}
