.container main ul.product-list {
  li {
    list-style-type: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid #f0f0f0;

    .anticon {
      margin-right: 5px;
    }
  }

  .cover {
    height: 120px;
    width: 120px;
    background-color: #f0f0f0;
    background-position: center center;
    background-size: cover;
  }

  .details {
    padding-top: 10px;
    padding-left: 10px;
  }

  .info {
    font-size: 0.85em;
    margin-top: 10px;
  }

  label {
    margin-right: 5px;
  }
}
