@import '../styles/shared';

.shop {
  display: flex;
  flex-direction: column;

  label {
    color: $textColor2;
    font-size: 14px;
    margin-right: 5px;
  }

  .category-list {
    flex-grow: 1;
  }

  .information {
    margin: 0;
    padding: 10px;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
  }

  .name {
    font-size: 18px;
    border-bottom: 1px solid #91d5ff;
    margin-bottom: 8px;

    .anticon {
      color: $textColor2;
      margin-right: 7px;
      font-size: 20px;
    }
  }

  .version {
    min-height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: $textColor4;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
}
