@import '../styles/shared';

.header.ant-layout-header {
  background-color: #fff;
  display: flex;
  padding: 0 20px;
  height: 48px;

  .trigger {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }

  .ant-select {
    font-weight: 600;
    margin-left: 15px;
    width: 200px;

    &:hover {
      .ant-select-arrow {
        color: $linkColor;
        transition: color 0.3s;
      }
    }
  }

  .btn-create-shop {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    &:hover {
      color: $linkColor;
    }
  }
}
