.categories {
  padding-inline-start: 20px;

  li {
    font-size: 16px;
  }
}

.category {
  .detail {
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-body {
      padding: 0;
    }
  }
}
