.date-picker {
  margin-bottom: 20px;

  span {
    margin-right: 5px;
  }
}

.attatchment {
  cursor: pointer;
  margin-right: 10px;
  width: 150px;
}

.modal-body {
  display: flex;
  justify-content: center;
}
