.date-picker {
  margin-bottom: 20px;

  span {
    margin-right: 5px;
  }
}

.attatchment {
  cursor: pointer;
  margin-right: 10px;
  width: 150px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.order-items {
  display: flex;
}

.order-item {
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;

  .cover {
    height: 120px;
    width: 120px;
    background-color: #f0f0f0;
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: static;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  label {
    font-size: 12px;
    margin-right: 5px;
  }
}

.total-amount {
  font-size: 20px;
}

.note {
  width: 400px;

  .ant-btn {
    margin-top: 5px;
  }
}
