.login-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
  .text-name {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 10px;
  }
  .text-desc {
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 30px;
  }
  @media (max-width: 400px) {
    .text-desc {
      font-size: 14px;
    }
  }

  .fb-btn-login {
    display: flex;
    align-items: center;
    height: 60px;
    width: 280px;
    padding: 10px;
    color: #fff;
    background-color: #4267b2;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: Helvetica, sans-serif;
    cursor: pointer;
  }
  .fb-btn-login .icon {
    width: 40px;
    height: 40px;
  }
  .fb-btn-login .text {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
  }
}
