.login-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;

  .col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 1.4rem;
    padding-bottom: 30px;
  }
  .ant-alert {
    font-size: 1rem;
  }
  .button {
    margin-left: 10px;
  }
  .form {
    display: flex;
  }
  .input {
    width: 280px;
  }
  .message {
    margin-top: 30px;
  }
  .loading {
    color: #c0c0c0;
    font-size: 2rem;
    padding-top: 30px;
    span {
      font-size: 1.5rem;
      padding-left: 10px;
    }
  }
}
